<section class="bg-footer">
<div class="container">
<div class="d-md-flex d-sm-block footer">
    <div class="section container">

        <div class="text-center mb-4 mt-4">
            <img src="assets/images/logo.png">
        </div>
        <p>
            We are a one stop shop where you purchase furniture and home accessory items and more!
        </p>
    </div>
    <div class="section container">
        <h3 class="mb-4 mt-4">Information</h3>
        <ul class="navbar-nav">
            
            <li class="nav-item"><a routerLink="/shop" class="nav-link">
                Shop
            </a></li>
            <li  class="nav-item"><a routerLink="/Login" class="nav-link">
                Sign In
            </a></li>
            <li class="nav-item"><a routerLink="/contactUs" class="nav-link">
                Contact Us
            </a></li>
        </ul>
    </div>
    <div class="section container">
        <h3 class="mb-4 mt-4">
            Get in Touch
        </h3>
        <p><span class="follow-us">address : </span><span>purchase furniture and home accessory items</span></p>
        <p><span class="follow-us">phone : </span> <span>0127785485</span></p>
        <p><span class="follow-us">email : </span> <span>info@karma.com</span></p>
    </div>
 
</div>
</div>
</section>
