<section>
    <div class="banner-bg">
        <img class="w-100 h-100 " src="assets/images/banner-bg.jpg">
        <h2> Contact Us </h2>
       </div>
     
</section>
<section  class="mb-4 mt-4">

    <h1 class="text-center mb-1 mt-5">Ask us anything</h1>

    <div  class=" m-auto contact  ">
        <div class="   ">
            <form class="row  mt-4  w-100">
                <div class="col-sm-12 col-md-6  ">
                    <input class="form-control mb-3 " type="text" placeholder="Name*">
                    <input class="form-control mb-3" type="email" placeholder="Email*">
                    <input class="form-control mb-3" type="phone" placeholder="Phone*">
                </div>
                <div class="col-sm-12 col-md-6">
                    <textarea class="form-control"  rows="6"> Message*</textarea>
                </div>
            </form>
            <div style="margin-left: 5%;">
                <button class="btn "> Send Message</button>
            </div>
        </div>
      
        
    </div>
</section>
